bin/
build/
*.class
*.tmp
*.bak
~$*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Windows image file caches
Thumbs.db

# Windows folder config file
Desktop.ini

# Mac crap
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
