<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="hiervis">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<Pattern>%-5level %logger{1} - %msg%throwable%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="TRACE" additivity="false">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>
